{% extends 'base/layout.html' %}
{% load static %}

{% block main %}
<main class="container mx-auto p-4 space-y-8">
  <header class="flex flex-row justify-between items-baseline">
    <h1 class="text-xl font-semibold flex flex-row space-x-2">
      <a class="text-blue-500 hover:underline cursor-pointer"
         href="{% url 'index' %}">
        Übersicht
      </a>
      <span>&rsaquo;</span>
      <span class="text-blue-500">
        Zeitplan {{ schedule.pk }}
      </span>
      <span>&rsaquo;</span>
      <span class="text-blue-500">
        Verteilung
      </span>
    </h1>
    <a href="{% url 'schedule' schedule.pk %}"
       class="px-4 py-2 leading-none cursor-pointer rounded-lg 
	      bg-purple-600 hover:bg-purple-500 text-white ">
      Einstellungen
    </a>
  </header>

  <div id="app"></div>
  
  <template id="assignments">
    <section class="space-y-8">
      <div class="flex flex-row justify-end">
        <button id="solve"
                class="px-4 p-2 leading-none cursor-pointer rounded-lg 
		       bg-blue-600 hover:bg-blue-500 text-white">
          Verteilung neu erstellen
        </button>
      </div>
      <div id="calendar"></div>
    </section>
  </template>

  <template id="error">
    <section class="space-y-4 max-w-screen-md">
      <p class="font-semibold text-lg">
        Oh weh, oh weh, da ist wohl etwas schiefgelaufen.
      </p>
      <p>Die Verteilung konnte nicht erstellt werden. Das könnte die folgenden Ursachen haben:</p>
      <ol class="list-disc space-y-4 px-4">
        <li>
          An mindestens einem der Tage ist kein Teilnehmer als
          verfügbar eingetragen.
        </li>
        <li>
          Die verfügbaren Tage sind unter den Teilnehmern ungleich
          verteilt. Es gibt wahrscheinlich einige Teilnehmer, die
          deutlich weniger verfügbare Tage angegeben haben, als
          andere. Möglicherweise haben einige Teilnehmer überhaupt
          keine verfügbaren Tage eingetragen.
        </li>
        <li>
          Vielleicht ist auch noch gar kein Teilnehmer eingetragen?
        </li>
      </ol>
      <p>Der Server hat diese hilfreiche Fehlermeldung geschickt:</p>
      <p class="font-mono p-2 bg-slate-100 rounded-lg" id="info"></p>
      <p>Was nun?</p>
      <p>
        Gehe zurück zu den
        <a href="{% url 'schedule' schedule.pk %}"
           class="text-purple-600 hover:underline">
          Einstellungen</a>, um das Start- und Enddatum zu ändern, Teilnehmer
        hinzuzufügen, die verfügbaren Tage zu bearbeiten, oder
        Teilnehmer, die gar nicht verfügbar sind, zu entfernen.
      </p>
    </section>
  </template>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'solver/js/calendar.js' %}"></script>
<script>
  function renderTemplate(name){
      let template = document.getElementById(name),
          clone = template.content.cloneNode(true),
          app = document.getElementById("app");
      deleteChildren(app);
      app.appendChild(clone);
  }
  function deleteChildren(el){
      while (el.firstChild){
          el.removeChild(el.firstChild);
      }
  }
  function showCalendar(){
      renderTemplate("assignments");
      let el = document.getElementById("calendar");
      let c = calendar(el, { url: "{% url 'api:assignments' schedule.pk %}" });
      let button = document.getElementById("solve");
      button.addEventListener("click", solveSchedule);
  }
  function solveSchedule(){
      patchSchedule("{% url 'api:schedule' schedule.pk %}", "{{ csrf_token }}")
          .then(r => {
              if (r.ok) {
                  showCalendar();
              } else {
                  r.json().then(json => {
                      console.log(json);
                      showError(json.error);
                  })
              }
          })
  }
  function showError(error){
      renderTemplate("error");
      let el = document.getElementById("info");
      el.innerText = error;
  }
  {% if schedule.has_assignments %}
  showCalendar();
  {% else %}
  solveSchedule();
  {% endif %}
</script>
{% endblock %}
