{% extends "base/layout.html" %}


{% block main %}
<main class="p-4 mx-auto max-w-screen-lg space-y-8">
  <header class="flex flex-row justify-between items-baseline">
    <h1 class="font-semibold text-xl text-blue-500">Übersicht</h1>
    <a href="{% url 'add_schedule' %}"
       class="inline-block px-4 py-2 border rounded-lg 
	      bg-purple-500 hover:bg-purple-600 text-white cursor-pointer">
      Neuen Zeitplan hinzufügen
    </a>
  </header>
  {% for schedule in schedules %}
  <div>
    <a href="{{ schedule.get_absolute_url }}"
       class="group cursor-pointer">
      <p class="font-semibold group-hover:underline group-hover:text-blue-500 ">Zeitplan {{ schedule.pk }}</p>
      <p class="mt-2 text-sm">
        Vom {{ schedule.start }} bis zum {{ schedule.end }}
      </p>
      <p class="mt-1 text-sm">
        {% for user in schedule.users.all %}
        {% if forloop.first %}Mit{% endif %}
        {% if forloop.last and not forloop.first %}und{% endif %}
        {{ user.username }}{% if forloop.revcounter0 > 1 %},{% endif %}
        {% empty %}
        Noch keine Teilnehmer
        {% endfor %}
      </p>
    </a>
  </div>
  {% empty %}
  <div>
    Hallo,

    <span class="text-blue-500 font-semibold">{{ user.username}}</span>!

    Hier könnten Deine Zeitpläne stehen. Zur Zeit ist die Liste noch
  leer, denn du hast noch keine Zeitpläne erstellt und nimmst auch
  noch an keinen Zeitplänen teil. Das lässt sich aber recht schnell
  ändern: Klicke einfach auf die Schaltfläche rechts oben und es geht
  los.
  </div>
  {% endfor %}
</main>
{% endblock %}

