{% extends "base/layout.html" %}


{% block main %}
<main class="mx-auto max-w-screen-lg">
  <header class="p-4 space-y-4 md:space-y-0 md:flex md:flex-row md:justify-between md:items-baseline">
    <h1 class="font-semibold text-xl text-blue-500">Übersicht</h1>
    <div>
      <a href="{% url 'add_schedule' %}" class="px-4 py-2 rounded-lg bg-purple-500 hover:bg-purple-600 text-white">
        Neuen Zeitplan hinzufügen
      </a>
    </div>
  </header>
  <div>
    {% for schedule in schedules %}
    <a href="{% url 'schedule_settings' schedule.id %}"
       class="block hover:bg-slate-50 p-4 rounded group">
      <header class="flex flex-row space-x-4 items-baseline">
        <h2 class="font-semibold group-hover:text-blue-500 ">Zeitplan {{ schedule.id }}</h2>
        <div class="text-sm">
          von
          <span class="px-2 rounded bg-sky-100">{{ schedule.owner.username }}</span>
        </div>
        {% if schedule.has_assignments %}
        <span class="bg-purple-500 text-white rounded-full leading-none h-6 w-6 flex flex-row justify-center items-center">
          &#10003;
        </span>
        {% endif %}
      </header>
      <div class="mt-2 text-sm">
        Vom {{ schedule.start }} bis zum {{ schedule.end }}
      </div>
      <div class="mt-1 text-sm">
        {% for name in schedule.participants %}
        {% if forloop.first %}Mit{% endif %}
        {% if forloop.last and not forloop.first %}und{% endif %}
        {{ name }}{% if forloop.revcounter0 > 1 %},{% endif %}
        {% empty %}
        Noch keine Teilnehmer
        {% endfor %}
      </div>
    </a>
    {% empty %}
    <div class="p-4">
      Hallo,

      <span class="text-blue-500 font-semibold">{{ user.username}}</span>!

      Hier könnten Deine Zeitpläne stehen. Zur Zeit ist die Liste noch
      leer, denn du hast noch keine Zeitpläne erstellt und nimmst auch
      noch an keinen Zeitplänen teil. Das lässt sich aber recht schnell
      ändern: Klicke einfach auf die Schaltfläche rechts oben und es geht
      los.
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}

