{% extends 'base/layout.html' %}
{% load static %}

{% block main %}
<main class="p-4 mx-auto max-w-screen-xl space-y-8">
  
  <header class="space-y-4 md:space-y-0 md:flex md:flex-row md:justify-between md:items-baseline">
    <div class="flex flex-row space-x-4 items-baseline">
      <h1 class="text-blue-500 text-xl font-semibold">Zeitplan {{ schedule.id }}</h1>
      <div class="text-sm">
        von
        <span class="px-2 rounded bg-slate-100">{{ schedule.owner.username }}</span>
      </div>
    </div>
    {% include "solver/navigation.html" %}
  </header>

  <div class="flex flex row space-x-8">

    <section class="space-y-4">

      {% if schedule.participants %}
      <form class="w-64 pb-4 border-b" action="{% url 'delete_participant' schedule.id %}" method="POST">
        {% csrf_token %}
        <div class="space-y-4" id="participants">
          <div>
            Wähle einen Teilnehmer aus, um dessen Verfügbarkeit zu bearbeiten:
          </div>
          {% for p in schedule.participants %}
          <div class="flex flex-row">
            <input class="peer hidden" type="radio" id="participant_{{ forloop.counter }}" name="participants" value="{{ p }}" {% if forloop.first %}checked{% endif %}>
            <label for="participant_{{ forloop.counter }}"
                   class="px-4 py-1 rounded-l-lg peer-checked:bg-blue-500 peer-checked:text-slate-100 hover:bg-blue-500 hover:text-slate-100 bg-slate-200 cursor-pointer truncate"
                   title="{{ p }}">
              {{ p }}
            </label>
            <button type="submit" name="participant" value="{{ p }}" class="px-3 py-1 rounded-r-lg bg-slate-300 hover:text-red-500" title="Teilnehmer löschen">
              &#10005;
            </button>
          </div>
          {% endfor %}
        </div>
      </form>
      {% endif %}

      <form class="w-64" action="" method="POST">
        {% csrf_token %}
        <div class="space-y-4">
          <div>
            {{ form.name }}
            {% for error in form.name.errors %}
            <div class="px-2 text-red-500">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="space-y-1 px-2">
            {% for choice in form.weekdays %}
            <div>
              {{ choice }}
            </div>
            {% endfor %}
          </div>
          <div>
            <button type="submit"
	            class="px-4 p-2 rounded-lg bg-purple-500 hover:bg-purple-600 text-white whitespace-nowrap">
              Speichern
            </button>
          </div>
        </div>
      </form>

    </section>
    
    <section class="space-y-2">
      <div>
        {% if schedule.participants %}
        Klicke auf einen freien Tag, um diesen als verfügbar zu
        kennzeichnen. Klicke auf einen verfügbaren Tag, um die Auswahl
        zu widerrufen:
        {% else %}
        Lege zunächst einige Teilnehmer an, um deren verfügbare Tage zu bearbeiten.
        {% endif %}
      </div>
      <div id="calendar"></div>
    </section>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'solver/js/api.js' %}"></script>
<script src="{% static 'solver/js/calendar.js' %}"></script>
<script>
  let api = new API(
      "{% url 'api:schedule_days' schedule.id %}",
      "{% url 'api:schedule_preferences' schedule.id %}",
      "{% url 'api:schedule_assignments' schedule.id %}",
      "{{ csrf_token }}",
  );
  let participantSelector = document.getElementById("participants");
  function getSelectedParticipant(){
      let el = participantSelector;
      let checked = el ? el.querySelector("input:checked") : null;
      return checked ? checked.value : null;
  }
  let calendar = Calendar("#calendar", {
      initialDate: {% if schedule.start %}"{{ schedule.start.isoformat }}"{% else %}undefined{% endif %},
      eventSources: [
          {
              id: "preferences",
              url: "{% url 'api:schedule_preferences' schedule.id %}",
              eventDataTransform: function(eventData){
                  eventData.title = eventData.participant;
                  if (eventData.participant == getSelectedParticipant()){
                      eventData.classNames = ["p-1", "cursor-pointer", "hover:ring"];
                  } else {
                      eventData.classNames = "opacity-50"
                  }
                  return eventData;
              },
          },
          {
              id: "days",
              url: "{% url 'api:schedule_days' schedule.id %}",
              display: "background",
          }
      ],
      eventClick: function(info){
          let participant = info.event.extendedProps.participant,
              dateStr = info.event.startStr;
          if (participant && participant == getSelectedParticipant()){
              api.removePreference(participant, dateStr).then((r) => {if (r.ok){
                  this.refetchEvents()
              }})
          }
      },
      dateClick: function(info){
          let participant = getSelectedParticipant(),
              dateStr = info.dateStr;
          let events = this.getEvents();
          let isAvailable = events.filter(e => e.startStr == dateStr)
              .filter(e => e.source.id == "days")
              .length == 1;
          let isEmpty = events.filter(e => e.startStr == dateStr)
              .filter(e => e.extendedProps.participant == participant)
              .length == 0;
          if (isAvailable && isEmpty){
              api.addPreference(participant, dateStr).then(r => {
                  if (r.ok){
                      this.refetchEvents()
                  }
              })
          }
      }
  });
  if (participantSelector){
      participantSelector.addEventListener("change", ()=>calendar.refetchEvents());
  }
  calendar.render();
</script>
{% endblock %}
