{% extends 'base/layout.html' %}
{% load static %}

{% block main %}
<main class="p-4 mx-auto max-w-screen-xl space-y-8">
  
  <header class="space-y-4 md:space-y-0 md:flex md:flex-row md:justify-between md:items-baseline">
    <div class="flex flex-row space-x-4 items-baseline">
      <h1 class="text-blue-500 text-xl font-semibold">Zeitplan {{ schedule.id }}</h1>
      <div class="text-sm">
        von
        <span class="px-2 rounded bg-slate-100">{{ schedule.owner.username }}</span>
      </div>
    </div>
    {% include "solver/navigation.html" %}
  </header>

  <div class="flex flex row space-x-8">

    <section class="space-y-4">

      {% if schedule.participants %}
      <form class="w-64" action="{% url 'delete_participant' schedule.id %}" method="POST">
        {% csrf_token %}
        <div>
          <div>
            Wähle einen Teilnehmer aus, um dessen Verfügbarkeit zu bearbeiten:
          </div>
          <div class="flex flex-col border-l border-r border-b mt-4" id="participants">
            {% for p in schedule.participants %}
            <div class="flex flex-row border-t">
              <input class="peer hidden" type="radio" id="participant_{{ forloop.counter }}" name="participants" value="{{ p }}" {% if forloop.first %}checked{% endif %}>
              <label for="participant_{{ forloop.counter }}"
                     class="flex-grow px-4 py-2 peer-checked:bg-blue-500 peer-checked:text-slate-100 hover:bg-blue-500 hover:text-slate-100 cursor-pointer truncate"
                     title="{{ p }}">
                {{ p }}
              </label>
              <button type="submit" name="participant" value="{{ p }}"
                      class="px-3 py-2 border-l hover:text-red-500"
                      title="Teilnehmer löschen">
                &#10005;
              </button>
            </div>
            {% endfor %}
          </div>
        </div>
      </form>
      {% endif %}

      <form class="w-64 p-4 border" action="" method="POST">
        {% csrf_token %}
        <div class="space-y-4">
          <div>
            {{ form.name }}
            {% for error in form.name.errors %}
            <div class="px-2 text-red-500">{{ error }}</div>
            {% endfor %}
          </div>
          <div>
            <div class="text-sm">
              Wochentage, an denen Teilnehmer immer verfügbar ist:
            </div>
            <div class="mt-2 flex flex-row flex-wrap -m-1">
              {% for choice in form.weekdays %}
              <div class="whitespace-nowrap m-1 px-2 py-1 bg-gray-100 rounded">
                {{ choice }}
              </div>
              {% endfor %}
            </div>
          </div>
          <div>
            <button type="submit"
	            class="px-4 p-2 rounded-lg bg-purple-500 hover:bg-purple-600 text-white whitespace-nowrap">
              Speichern
            </button>
          </div>
        </div>
      </form>

    </section>
    
    <section class="space-y-2">
      <div>
        {% if schedule.participants %}
        Klicke auf einen freien Tag, um diesen als verfügbar zu
        kennzeichnen. Klicke auf einen verfügbaren Tag, um die Auswahl
        zu widerrufen:
        {% else %}
        Lege zunächst einige Teilnehmer an, um deren verfügbare Tage zu bearbeiten.
        {% endif %}
      </div>
      <div id="calendar"></div>
    </section>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'solver/js/api.js' %}"></script>
<script src="{% static 'solver/js/calendar.js' %}"></script>
<script>
  let api = new API(
      "{{ csrf_token }}",
      "{% url 'api:schedule' schedule.id %}",
  ); 
  let calendar = ParticipantCalendar("#calendar", {
      api: api,
      initialDate: "{{ schedule.start.isoformat }}" || undefined,
      participantSelector: "#participants",
  });
  calendar.render();
</script>
{% endblock %}
