{% extends 'base/layout.html' %}
{% load static %}

{% block main %}
<main class="p-4 mx-auto max-w-screen-lg space-y-8">
  <section class="space-y-4 md:space-y-4 md:flex md:flex-row md:justify-between md:items-baseline">
    <div class="flex flex-row space-x-4 items-baseline">
      <h1 class="text-blue-500 text-xl font-semibold">Zeitplan {{ schedule.id }}</h1>
      <div class="text-sm">
        von
        <span class="px-2 rounded bg-slate-100">{{ schedule.owner.username }}</span>
      </div>
    </div>
    <div class="flex flex-row space-x-4 overflow-x-auto">
      <a class="hover:text-blue-500"
         href="{% url 'schedule_settings' schedule.id %}">Einstellungen</a>
      <a class="font-semibold text-blue-500"
         href="{% url 'schedule_preferences' schedule.id %}">Verfügbarkeiten</a>
      <a class="hover:text-blue-500"
         href="{% url 'schedule_assignments' schedule.id %}">Verteilung</a>
    </div>
  </section>
  <section class="space-y-8 md:space-y-0 md:flex md:flex-row md:space-x-8 md:items-end">
    <div class="flex-grow space-y-2">
      <p>
        Wähle einen Teilnehmer aus, um dessen Verfügbarkeit zu bearbeiten:
      </p>
      <div class="flex flex-row overflow-auto space-x-2" id="participants">
        {% for p in schedule.participants %}
        <label for="participant_{{ forloop.counter }}">
          <input class="peer hidden"
                 type="radio"
                 id="participant_{{ forloop.counter }}"
                 name="participants"
                 value="{{ p }}"
                 {% if forloop.first %}checked{% endif %}>
          <div class="px-4 py-2 rounded-lg
                      peer-checked:bg-blue-500 peer-checked:text-slate-100
                      hover:bg-blue-500 hover:text-slate-100
                      bg-slate-200 cursor-pointer" >
            {{ p }}
          </div>
        </label>
        {% empty %}
        <p>Keine Teilnehmer!</p>
        {% endfor %}
      </div>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="space-y-2">
        <p>
          Teilnehmer hinzufügen:
        </p>
        <div class="flex flex-row space-x-2">
          <div>
            {{ form.name }}
          </div>
          <div>
            <button type="submit"
	            class="px-4 p-2 rounded-lg bg-purple-500 hover:bg-purple-600 text-white whitespace-nowrap">
              Speichern
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section>
    <div class="space-y-4">
      <p>
        Klicke auf einen freien Tag, um diesen als verfügbar zu
        kennzeichnen. Klicke auf einen verfügbaren Tag, um die Auswahl
        zu widerrufen:
      </p>
      <div id="calendar"></div>
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'solver/js/api.js' %}"></script>
<script src="{% static 'solver/js/calendar.js' %}"></script>
<script>
  let api = new API(
      "{% url 'api:schedule_days' schedule.id %}",
      "{% url 'api:schedule_preferences' schedule.id %}",
      "{% url 'api:schedule_assignments' schedule.id %}",
      "{{ csrf_token }}",
  );
  function getSelectedParticipant(){
      let el = document.getElementById("participants");
      let checked = el.querySelector("input:checked");
      return checked.value;
  }
  let calendar = Calendar("#calendar", {
      initialDate: {% if schedule.start %}"{{ schedule.start.isoformat }}"{% else %}undefined{% endif %},
      eventSources: [
          {
              id: "preferences",
              url: "{% url 'api:schedule_preferences' schedule.id %}",
              eventDataTransform: function(eventData){
                  eventData.title = eventData.participant;
                  if (eventData.participant == getSelectedParticipant()){
                      eventData.classNames = ["p-1", "cursor-pointer", "hover:ring"];
                  } else {
                      eventData.classNames = "opacity-50"
                  }
                  return eventData;
              },
          },
          {
              id: "days",
              url: "{% url 'api:schedule_days' schedule.id %}",
              display: "background",
          }
      ],
      eventClick: function(info){
          let participant = info.event.extendedProps.participant,
              dateStr = info.event.startStr;
          if (participant && participant == getSelectedParticipant()){
              api.removePreference(participant, dateStr).then((r) => {if (r.ok){
                  this.refetchEvents()
              }})
          }
      },
      dateClick: function(info){
          let participant = getSelectedParticipant(),
              dateStr = info.dateStr;
          let events = this.getEvents();
          let isAvailable = events.filter(e => e.startStr == dateStr)
              .filter(e => e.source.id == "days")
              .length == 1;
          let isEmpty = events.filter(e => e.startStr == dateStr)
              .filter(e => e.extendedProps.participant == participant)
              .length == 0;
          if (isAvailable && isEmpty){
              api.addPreference(participant, dateStr).then(r => {
                  if (r.ok){
                      this.refetchEvents()
                  }
              })
          }
      }
  });
  document.getElementById("participants").addEventListener("change", ()=>calendar.refetchEvents());
  calendar.render();
</script>
{% endblock %}
