{% extends 'base/layout.html' %}
{% load static %}

{% block main %}
<main class="p-4 mx-auto max-w-screen-xl space-y-8">
  <header class="space-y-4 md:space-y-0 md:flex md:flex-row md:justify-between md:items-baseline">
    <div class="flex flex-row space-x-4 items-baseline">
      <h1 class="text-blue-500 text-xl font-semibold">Zeitplan {{ schedule.id }}</h1>
      <div class="text-sm">
        von
        <span class="px-2 rounded bg-slate-100">{{ schedule.owner.username }}</span>
      </div>
    </div>
    {% include "solver/navigation.html" %}
  </header>
  <div class="flex flex-row space-x-8">
    <section>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="w-64 space-y-4">
          <div>
            Hier siehst Du die aktuelle Verteilung der Teilnehmer auf
            die Tage des Zeitplans. Falls Du in der Zwischenzeit
            Einstellungen des Zeitplans geändert hast, z.B. wenn Du
            Teilnehmer hinzugefügt oder entfernt, die Tage des Zeitplans
            verändert oder Verfügbarkeiten bearbeitet hast, solltest Du
            die Verteilung erneut berechnen lassen.
          </div>
          <div class="space-y-1">
            <label for="{{ form.window.id_for_label }}" class="font-semibold">
              {{ form.window.label }}
            </label>
            <div>
              {{ form.window.help_text }}
            </div>
            {{ form.window }}
            {% for error in form.window.errors %}
            <div class="text-red-600">
              {{ error }}
            </div>
            {% endfor %}
          </div>
          <div>
            <button type="submit"
                    class="bg-green-500 hover:bg-green-600 p-2 rounded-lg text-white whitespace-nowrap">
              Speichern und neu berechnen
            </button>
          </div>
        </div>
      </form>
    </section>

    <section id="app"></section>
  </div>
</main>
{% endblock %}

{% block scripts %}
<template id="assignments">
  <div id="calendar"></div>
</template>

<template id="error">
  <div class="space-y-4 max-w-screen-md border rounded-lg p-8 m-2">
    <p class="font-semibold text-lg">
      Oh weh, oh weh, da ist wohl etwas schiefgelaufen.
    </p>
    <p>Die Verteilung konnte nicht erstellt werden. Das könnte die folgenden Ursachen haben:</p>
    <ol class="list-disc space-y-4 px-4">
      <li>
        An mindestens einem der Tage ist kein Teilnehmer als
        verfügbar eingetragen.
      </li>
      <li>
        Die verfügbaren Tage sind unter den Teilnehmern ungleich
        verteilt. Es gibt wahrscheinlich einige Teilnehmer, die
        deutlich weniger verfügbare Tage angegeben haben, als
        andere. Möglicherweise haben einige Teilnehmer überhaupt
        keine verfügbaren Tage eingetragen.
      </li>
      <li>
        Vielleicht ist auch noch gar kein Teilnehmer eingetragen?
      </li>
    </ol>
    <p>Der Server hat diese hilfreiche Fehlermeldung geschickt:</p>
    <p class="font-mono p-2 bg-slate-100 rounded-lg" id="info"></p>
    <p>Was nun?</p>
    <p>
      Gehe zurück zu den
      <a href="{% url 'schedule_settings' schedule.id %}"
         class="text-purple-600 hover:underline"> Einstellungen</a>
      oder zu den <a href="{% url 'schedule_preferences' schedule.id %}"
                     class="text-purple-600 hover:underline">
        Verfügbarkeiten</a>, um den Zeitplan zu ändern,
      Teilnehmer hinzuzufügen, die verfügbaren Tage zu bearbeiten,
      oder Teilnehmer, die gar nicht verfügbar sind, zu entfernen.
    </p>
  </div>
</template>

<script src="{% static 'solver/js/api.js' %}"></script>
<script src="{% static 'solver/js/calendar.js' %}"></script>
<script>
  let api = new API(
      "{{ csrf_token }}",
      "{% url 'api:schedule' schedule.id %}",
  );
  
  function renderTemplate(name){
      let template = document.getElementById(name),
          clone = template.content.cloneNode(true),
          app = document.getElementById("app");
      deleteChildren(app);
      app.appendChild(clone);
  }

  function deleteChildren(el){
      while (el.firstChild){
          el.removeChild(el.firstChild);
      }
  }

  function showCalendar(){
      renderTemplate("assignments");
      let calendar = AssignmentCalendar("#calendar", {
          initialDate: "{{ schedule.start.isoformat }}" || undefined,
          api: api,
      });
      calendar.render();
      let button = document.getElementById("solve");
      button.addEventListener("click", solveSchedule);
  }

  function solveSchedule(){
      api.patchSchedule("{% url 'api:schedule' schedule.id %}")
          .then(r => {
              if (r.ok) {
                  showCalendar();
              } else {
                  r.json().then(json => {
                      showError(json.error);
                  })
              }
          })
  }
  
  function showError(error){
      renderTemplate("error");
      let el = document.getElementById("info");
      el.innerText = error;
  }

  {% if schedule.has_assignments %}
  showCalendar();
  {% else %}
  solveSchedule();
  {% endif %}
</script>

{% endblock %}
