{% extends 'base/layout.html' %}


{% block main %}
<main class="p-4 mx-auto max-w-screen-lg space-y-8">
  <section class="space-y-4 md:space-y-0 md:flex md:flex-row md:justify-between md:items-baseline">
    <div class="flex flex-row space-x-4 items-baseline">
      <h1 class="text-blue-500 text-xl font-semibold">Zeitplan {{ schedule.id }}</h1>
      <div class="text-sm">
        von
        <span class="px-2 rounded bg-slate-100">{{ schedule.owner.username }}</span>
      </div>
    </div>
    <div class="flex flex-row space-x-4 overflow-x-auto">
      <a class="font-semibold text-blue-500"
         href="{% url 'schedule_settings' schedule.id %}">Einstellungen</a>
      <a class="hover:text-blue-500"
         href="{% url 'schedule_preferences' schedule.id %}">Verfügbarkeiten</a>
      <a class="hover:text-blue-500"
         href="{% url 'schedule_assignments' schedule.id %}">Verteilung</a>
    </div>
  </section>
  <section>
    <form action="" method="POST" class="space-y-4">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <div class="space-y-4 md:space-y-0 md:flex md:flex-row md:space-x-8">
        <div class="md:w-1/2 space-y-2">
          <div>
	    <label for="{{ form.start.id_for_label }}"
	           class="font-semibold text-sm">
	      Beginn
	    </label>
	    <div class="mt-1">
	      {{ form.start }}
	    </div>
	    {% for error in form.start.errors %}
	    <div class="mt-1 text-red-600">
	      {{ error }}
	    </div>
	    {% endfor %}
          </div>
          <div>
            <label for="{{ form.end.id_for_label }}"
	           class="font-semibold text-sm">
              Ende
            </label>
            <div class="mt-1">
              {{ form.end }}
            </div>
            {% for error in form.end.errors %}
            <div class="mt-1 text-red-600">
              {{ error }}
            </div>
            {% endfor %}
          </div>
          <div class="text-sm">
            Legt den Beginn und das Ende (inklusiv) des Zeitplans fest. Wochenenden sind ausgenommen.
          </div>
        </div>
        <div class="md:w-1/2">
          <p class="font-semibold text-sm">Teilnehmer</p>
          <p class="mt-1 text-sm">
            Füge Teilnehmer zu diesem Zeitplan hinzu oder entferne
            sie.
          </p>
          <div class="mt-2 border-b border-r border-l max-h-64 overflow-y-auto">
            {% for choice in form.users %}
            <div class="p-2 border-t flex flex-row items-baseline bg-white">
              {{ choice.tag }}
              <label class="ml-2 flex-grow" for="{{ choice.id_for_label }}">
                {{ choice.choice_label }}
              </label>	
            </div>
            {% endfor %}
          </div>
          {% for error in form.users.errors %}
          <div class="mt-1 text-red-600">
            {{ error }}
          </div>
          {% endfor %}
        </div>
      </div>
      <p class="text-sm">
        Änderungen hier wirken sich erst aus, wenn Du sie durch

        <span class="bg-slate-100 px-2 py-1 rounded font-mono">Speichern</span>

        bestätigst.
      </p>
      <div>
        <button type="submit"
	        class="px-4 p-2 rounded-lg 
		       bg-purple-500 hover:bg-purple-600 text-white">
          Speichern
        </button>
      </div>
    </form>
  </section>
  {% if not object.users.empty %}
  <section class="border-t pt-4 space-y-4 md:space-y-0 flex flex-col md:flex-row md:items-baseline md:space-x-4">
    <a href="{% url 'schedule_preferences' schedule.id %}"
       class="px-4 p-2 rounded-lg border text-purple-500 hover:underline whitespace-nowrap">
      Verfügbarkeiten bearbeiten
    </a>
    <a href="{% url 'schedule_assignments' schedule.id %}"
       class="px-4 p-2 rounded-lg border text-purple-500 hover:underline whitespace-nowrap">
      Verteilung ansehen
    </a>
  </section>
  {% endif %}
</main>
{% endblock %}
