{% extends "base/layout.html" %}

{% block main %}
<div class="container mx-auto max-w-4xl px-4">
  <h1 class="font-semibold text-xl mt-8 flex flex-row space-x-2">
    <a class="text-blue-500 hover:underline cursor-pointer"
       href="{% url 'index' %}">
      Übersicht
    </a>
    <span>&rsaquo;</span>
    <span class="text-blue-500">
      {% if object %}Stundenplan {{ object.pk }}{% else %}Neuer Stundenplan{% endif %}
    </span>
  </h1>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="flex flex-row w-full">
      <div class="flex-grow max-w-sm">
	<div class="flex flex-col mt-2">
	  <div>
	    <label for="{{ form.start.id_for_label }}"
		   class="font-semibold text-sm">
	      {{ form.start.label }}
	    </label>
	  </div>
	  <div class="mt-1">
	    {{ form.start }}
	  </div>
	  {% for error in form.start.errors %}
	  <div class="mt-1 text-red-600">
	    {{ error }}
	  </div>
	  {% endfor %}
	</div>
	<div class="flex flex-col mt-2">
	  <div>
	    <label for="{{ form.end.id_for_label }}"
		   class="font-semibold text-sm">
	      {{ form.end.label }}
	    </label>
	  </div>
	  <div class="mt-1">
	    {{ form.end }}
	  </div>
	  {% for error in form.end.errors %}
	  <div class="mt-1 text-red-600">
	    {{ error }}
	  </div>
	  {% endfor %}
	</div>
      </div>
      <div class="flex-grow ml-4">
	<h1 class="font-semibold">{{ form.users.label }}</h1>
	<div class="mt-2 border-b border-r border-l max-h-64 overflow-y-auto">
	  {% for choice in form.users %}
	  <div class="flex flex-row p-2 border-t items-baseline bg-white">
	    {{ choice.tag }}
	    <label class="ml-2 flex-grow" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>	
	  </div>
	  {% endfor %}
	</div>
	{% for error in form.users.errors %}
	<div class="mt-1 text-red-600">
	  {{ error }}
	</div>
	{% endfor %}
      </div>
    </div>
    <div class="flex flex-row justify-between items-baseline mt-4 -m-2">
      <button type="submit"
	      class="m-2 px-4 p-2 leading-none cursor-pointer rounded-lg 
		     bg-green-600 hover:bg-green-500 text-white">
	Speichern
      </button>
      <a id="solve_button"
	 class="m-2 px-4 p-2 leading-none cursor-pointer rounded-lg 
		bg-blue-600 hover:bg-blue-500 text-white">
	Dienstplan erstellen
      </a>
    </div>
  </form>
  {% if object %}
  <h2 class="mt-8 font-semibold text-lg">Verfügbarkeiten</h2>
  <p class="mt-2">Die bisherigen Teilnehmer sind an den folgenden
    Tagen grundsätzlich verfügbar. Klicke
    auf <span class="text-green-600 font-semibold">Speichern</span>, um
    die Anzeige der Teilnehmer zu aktualisieren.
  </p>
  <div id="calendar" class="mt-8"></div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if object %}
<script>
  function solveSchedule(event){
      event.preventDefault();
      const url = "{% url 'api:schedule' object.pk %}"
      fetch(url, {
	  method: "PATCH",
	  headers: {
	      "X-CSRFToken": "{{ csrf_token }}",
	  },
      })
	  .then(r => {
	      if (r.ok) {
		  calendar.refetchEvents();		  
	      } else {
		  r.json().then(json => console.log(json.error));
	      }
	  })
  }
  document.getElementById("solve_button").addEventListener("click", solveSchedule)

  const calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
      initialView: "dayGridMonth",
      locale: "de",
      height: "auto",
      buttonText: {
	  "today": "Heute",
	  "month": "Monatsansicht",
      },
      eventSources: [
	  {
	      id: "available_dates",
	      url: "{% url 'api:day_preferences' object.pk %}",
	  },
      ],
      eventDataTransform: function(data){
	  data.title = data.username;
	  return data;
      },
  });
  calendar.render();
</script>
{% endif %}
{% endblock %}
