{% extends "base/layout.html" %}


{% block main %}
<main class="p-4 mx-auto max-w-screen-lg space-y-8">
  <section>
    <h1 class="text-blue-500 text-xl font-semibold">
      Neuer Zeitplan
    </h1>
  </section>
  <section>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="space-y-8 max-w-md">
        <div>
	  <label for="{{ form.start.id_for_label }}"
	         class="font-semibold text-sm">
	    Beginn
	  </label>
	  <div class="mt-1">
	    {{ form.start }}
	  </div>
	  {% for error in form.start.errors %}
	  <div class="mt-1 text-red-600">
	    {{ error }}
	  </div>
	  {% endfor %}
        </div>
        <div>
          <label for="{{ form.end.id_for_label }}"
	         class="font-semibold text-sm">
            Ende
          </label>
          <div class="mt-1">
            {{ form.end }}
          </div>
          {% for error in form.end.errors %}
          <div class="mt-1 text-red-600">
            {{ error }}
          </div>
          {% endfor %}
        </div>
        <div>
          <div class="flex flex-row items-center">
            {{ form.exclude_weekends }}
            <label for="{{ form.exclude_weekends.id_for_label }}"
	           class="ml-2 font-semibold text-sm">
              Wochenenden auschließen
            </label>
          </div>
          {% for error in form.exclude_weekends.errors %}
          <div class="mt-1 text-red-600">
            {{ error }}
          </div>
          {% endfor %}
        </div>
        <div class="flex flex-row justify-between">
          <button type="submit"
	          class="px-4 p-2 rounded-lg 
		         bg-purple-500 hover:bg-purple-600 text-white">
            Neuen Zeitplan speichern
          </button>
          <a href="{% url 'index' %}"
	     class="px-4 p-2 rounded-lg border hover:underline hover:text-blue-500">
            Abbrechen
          </a>
        </div>
      </div>
    </form>
  </section>
</main>
{% endblock %}
