{% extends "base/layout.html" %}

{% block main %}
<div class="container mx-auto max-w-4xl px-4">
  <h1 class="font-semibold text-xl mt-8 flex flex-row space-x-2">
    <a class="text-blue-500 hover:underline cursor-pointer"
       href="{% url 'index' %}">
      Übersicht
    </a>
    <span>&rsaquo;</span>
    <a class="text-blue-500 hover:underline cursor-pointer"
       href="{% url 'schedule' object.pk %}">
      Stundenplan {{ object.pk }}
    </a>
    <span>&rsaquo;</span>
    <span class="text-blue-500">Dienstverteilung</span>
  </h1>
  <div class="mt-2 flex flex-row -m-2">
    <a id="solve_button" class="m-2 p-2 rounded bg-green-500 hover:bg-green-500 text-white leading-tight cursor-pointer">
      Dienstplan erstellen
    </a>
  </div>
  <div class="mt-2" id="calendar"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function createSchedule(event){
      event.preventDefault();
      const url = "{% url 'solve_schedule' object.pk %}"
      fetch(url, {
	  method: "PATCH",
	  headers: {
	      "X-CSRFToken": "{{ csrf_token }}",
	  },
      })
	  .then(r => {
	      if (r.ok) {
		  calendar.refetchEvents();		  
	      } else {
		  r.json().then(json => console.log(json.error));
	      }
	  })
  }
  document.getElementById("solve_button").addEventListener("click", createSchedule)
  const calendarEl = document.getElementById("calendar");
  const calendarOptions = {
      initialView: "dayGridMonth",
      locale: "de",
      height: "auto",
      buttonText: {
	  "today": "Heute",
	  "month": "Monatsansicht",
      },
      eventSources: [
	  {
	      url: "{% url 'assignments' object.pk %}",
	  }
      ],
      eventClick: function(info){
	  info.jsEvent.preventDefault();
      },
      eventDataTransform: function(data){
	  data.title = data.username;
	  return data;
      },

  };
  const calendar = new FullCalendar.Calendar(calendarEl, calendarOptions);
  calendar.render();
</script>
{% endblock %}
