{% extends "base/base.html" %}
{% block body %}
<header class="">
  <div class="container mx-auto max-w-4xl p-4 flex flex-row justify-between">
    <div>
      Hallo, <a href="{% url 'index' %}"
		class="text-blue-500 font-semibold hover:underline cursor-pointer">{{ user }}</a>
    </div>
    <div>
      <a href="{% url 'logout' %}" class="cursor-pointer hover:text-blue-500 hover:underline border rounded p-2 px-4 leading-tight">Abmelden</a>
    </div>
  </div>
</header>
<main>
  {% block main %}{% endblock %}  
</main>
{% endblock %}
