{% extends "base/base.html" %}

{% block body %}
<main class="p-4">
  <div class="max-w-sm mx-auto space-y-8 mt-4">
    <h1 class="text-2xl text-center text-slate-700">{% block heading %}{% endblock %}</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <div class="p-4 py-8 border bg-slate-50 rounded space-y-4">
        {% for field in form %}
        <div>
	  <div>
	    <label for="{{ field.id_for_label }}" class="text-gray-800 font-semibold text-sm leading-none">
	      {{ field.label }}
	    </label>
	  </div>
	  <div class="mt-1">
            {{ field }}
	  </div>
	  {% for error in field.errors %}
	  <div class="mt-1 text-red-600">
	    {{ error }}
	  </div>
	  {% endfor %}
        </div>
        {% endfor %}
        {% for error in form.errors.values %}
        <div class="mt-1 text-red-600">
	  {{ error }}
        </div>
        {% endfor %}
        <div>
	  <input class="px-4 p-2 rounded bg-green-500 hover:bg-green-600 text-white cursor-pointer w-full"
	         type="submit" value="{% block main_action %}{% endblock %}">
        </div>
      </div>
    </form>
    <div class="p-4 border rounded">
      <span>{% block alt_help_text %}{% endblock %}</span>
      <a class="text-purple-500 hover:underline"
	 href="{% block alt_action_url %}{% endblock %}">
	{% block alt_action %}{% endblock %}
      </a>
    </div>
  </div>
</main>
{% endblock %}
